<div class="container-fluid" style=" width: 80%; margin-left:240px; margin-top:30px; border:1px solid black; padding-bottom:5%; padding-top:1%;">

    <div class="introtext">
        <h1 style="text-align:center; font-weight:bold; font-size:50px; margin-top:2%;">Intro text</h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h3>
    </div>
    <div>
        <button  (click)="navpage()" class="btn btn-primary col-md-8" style="margin-left:380px; margin-top:40px; width:50%; height:60%; color:black; background-color:cornflowerblue; font-weight:bold;">Place AppoinmentApply For Trainer</button>
    </div>
</div>